/* Document generally reads from top to bottom of page layout, left to right for the three main containers*/

@font-face {
    font-family: 'neondesmonregular';
    src: url('fonts/neon_desmon-webfont.woff2') format('woff2'),
         url('fonts/neon_desmon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

html {
    overflow: hidden;
}

body {
    background-color: rgb(45, 0, 0);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.top-bar {
    background-color: black;
    width: 100vw;
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    z-index: 3;
}

.title {
    font-family: neon, Arial, sans-serif;
    font-size: clamp(2.2em, 7vw, 3.3em);
    text-align: center;
    flex: 1;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    border: 4px solid #28D7FE;
    border-radius: 10px;
    box-shadow: 0 0 .33vw #1041FF, 0 0 1vw #1041FF, 0 0 3.33vw #1041FF, 0 0 3.33vw #1041FF, 0 0 .133vw #8BFDFE, .166vw .166vw .033vw #147280;
    filter: brightness(130%);
}

.rock-title {
    text-shadow: 0 0 .33vw #FA1C16, 0 0 1vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 .133vw #FED128, .166vw .166vw .033vw #806914;
    color: #FED128;
}

.paper-title {
    text-shadow: 0 0 .33vw #FA1C16, 0 0 1vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 .133vw #FED128, .166vw .166vw .033vw #806914;
    color: #FED128;
   /* color: #28D7FE; 
    text-shadow: 0 0 .33vw #1041FF, 0 0 1vw #1041FF, 0 0 3.33vw #1041FF, 0 0 3.33vw #1041FF, 0 0 .133vw #8BFDFE, .166vw .166vw .033vw #147280;
    filter: brightness(130%); */
}

.scissors-title {
    text-shadow: 0 0 .33vw #FA1C16, 0 0 1vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 .133vw #FED128, .166vw .166vw .033vw #806914;
    color: #FED128;
    /* text-shadow: 0 0 .33vw #950606, 0 0 1vw #a50101, 0 0 3.33vw #900606, 0 0 3.33vw #6a0808, 0 0 .133vw #fe8b8b, .166vw .166vw .033vw #801414;
    color: #FF3131;
    filter: brightness(130%); */
}

/* wrapper div to improve cpu performance with mix-blend-mode */


.canvas {
    overflow: hidden;
    mix-blend-mode: hard-light;
    flex: 5;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: url("images/tabletop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    margin-left: -27vw;
}

.user-fist, .user-rock {
    width: 60vw;
    height: auto;
    margin-bottom: -45vh;
}

.user-paper, .user-scissors {
    width: 60vw;
    height: auto;
    margin-bottom: -41vh;
    margin-left: 13vw;
}

.user-fist-intro {
    animation-name: user-fist-intro;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;
}

.user-fist-float {
    animation-duration: 8s;
    animation-name: float;
    animation-delay: .2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;}

@keyframes user-fist-intro  {
    0%  {transform: rotate(-240deg);}
    50% {transform: rotate(0deg);}
    53% {transform: rotate(-.2deg);}
    56% {transform: rotate(0deg);}
    59% {transform: rotate(-.1deg);}
    62% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

.shake-canvas{
    position: initial;
    will-change: transform;
    animation-delay: .05s;
    animation-duration: 2.3s;
    animation-name: shake-canvas;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes shake-canvas {
    0% {transform: translateY(0px);}
    17% {transform: translateY(0px);}
    18% {transform: translateY(3px);}
    20% {transform: translateY(0px);}
    44% {transform: translateY(0px);}
    45% {transform: translateY(3px);}
    47% {transform: translateY(0px);}
    71% {transform: translateY(0px);}
    72% {transform: translateY(4px);}
    74% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}

.user-movement {
    animation-delay: 2.1s;
    animation-duration: 3.1s;
    animation-name: user-gesture;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform-origin: -100% 100%;
    animation-timing-function: ease-in-out;
}

@keyframes user-gesture {
    0%  {transform: rotate(-90deg);}
    15% {transform: rotate(0deg)}
    17% {transform: rotate(-.1deg)}
    19% {transform: rotate(0deg)}
    21% {transform: rotate(-.1deg)}
    32% {transform: rotate(0deg)}
    50% {transform: rotate(.1deg)}
    75% {transform: rotate(0deg)}
    99% {opacity: 1;
        height: auto;}
    100%{transform: rotate(-200deg);
         opacity: 0;
         height: 0;}
}

.shake-user-fist {
    animation-name: shake-user-fist;
    animation-iteration-count: 1;
    animation-duration: 2.3s;
}

@keyframes shake-user-fist {
    0%  {transform: rotate(0deg);}
    12% {transform: rotate(-1deg)}
    17% {transform: rotate(5deg);}
    24% {transform: rotate(5deg);}
    39% {transform: rotate(-5deg);}
    44% {transform: rotate(5deg);}
    51% {transform: rotate(5deg);}
    66% {transform: rotate(-6deg);}
    71% {transform: rotate(5deg);}
    81% {transform: rotate(5deg);}
    99% {opacity: 1;
         height: auto;}
    100% {transform: rotate(-80deg);
          opacity: 0;
          height: 0;}
}

@keyframes float {
    0% {
        transform: rotate(0deg)
    }
    20% {
        transform: rotate(.3deg)
    }
    40% {
        transform: rotate(.1deg)
    }
    60% {
        transform: rotate(.3deg)
    }
    80% {
        transform: rotate(.2deg)
    }
    100% {
        transform: rotate(.1deg)
    }
}

#button-container {
    position: absolute;
    padding-top: 20vh;
    padding-bottom: 40vh;
    display: flex;
    min-height: 250px;
    height: 40vh;
    left: 43.2%;
    overflow: hidden;
    scale: 1.4;
    z-index: 1;
}

.fade-in-buttons {
    animation: fade-in-buttons .5s ease-in-out 0s 1 forwards;
}

@keyframes fade-in-buttons {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-out-buttons {
    animation: fade-out-buttons .25s ease-in-out 0s 1 forwards;
}

@keyframes fade-out-buttons {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
    
.rock-button {
    rotate: 0deg;
    transform-origin: 100%;
}

.paper-button {
    margin-left: -33.33%;
    transform-origin: 100%;
    rotate: 120deg;
}

.scissors-button {
    margin-left: -33.33%;
    transform-origin: 100%;
    rotate: 240deg;
}

.selection-button {
    background-color: transparent;
    border: none;
    animation: rotation 35s infinite linear;
}

@keyframes rotation {
    0% {transform: rotate(-360deg)}
}

.selection-button-image {
    width: 7vw;
    height: auto;
    filter: invert(100%) opacity(65%) drop-shadow(1px 1px 1px rgb(255, 255, 255));
}

.selection-button-image:hover {
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

#start-game-modal-container {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#start-game-modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /*border: 4px solid #28D7FE;
    border-radius: 50%;
    box-shadow: 0 0 .33vw #1041FF, 0 0 1vw #1041FF, 0 0 3.33vw #1041FF, 0 0 3.33vw #1041FF, 0 0 .133vw #8BFDFE, .166vw .166vw .033vw #147280;
    */
    filter: brightness(130%);
    /* border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #d0d0d0, 0 0 20px #bababa; */
}

#start-game-title{
    font-family: neon, Arial, sans-serif;
    font-size: clamp(2.2em, 7vw, 3.3em);
    text-align: center;
    flex: 1;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    filter: brightness(130%);
}

.start-game-text {
    color: whitesmoke;
    font-family: 'neondesmonregular', Helvetica, sans-serif;
    font-size: clamp(2em, 4vw, 2.5em);
}

#input-rounds {
    display: flex;
}

#number-of-rounds {
    background-color: transparent;
    width: 10%;
    border: hidden;
    text-decoration-color: whitesmoke;
    text-align: center;
}

#number-of-rounds:focus {
    outline: none;
    font-weight: bolder;
}

#play-button {
    background: none;
    border: none;
    margin: 0 auto;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: clamp(1.3em, 3.3vw, 2.5em);
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
}

#game-over-modal-container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.fade-in-modal {
    animation: fade-in-modal 4s ease-in 0s 1 forwards;
}

@keyframes fade-in-modal {
    0% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

#game-over-modal {
    position: absolute;
    width: 45vw;
    height: min-content;
    text-align: center;
    margin: auto;
    top: 0%;
    bottom: 20%;
    left: 0;
    right: 0;
    padding: 20px;
}

.win-title {
    font-family: 'neondesmonregular', Helvetica, sans-serif;
    color: whitesmoke;
    margin-bottom: 10%;
    font-size: clamp(2em, 7vw, 3em);
    font-weight: 600;
    animation: win-pulse .6s infinite alternate;
    filter: brightness(130%) contrast(130%);
}

@keyframes win-pulse {
  0% {text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #ffd154, 0 0 10px #e6a900;}
  100% {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffd154, 0 0 20px #e6a900, 0 0 30px #e6a900, 0 0 40px #e6a900;}
}

.lose-title {
    font-family: 'neondesmonregular', Helvetica, sans-serif;
    color: #ff1818;
    margin-bottom: 10%;
    font-size: clamp(2em, 5vw, 3em);
    font-weight: 600;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e61f00, 0 0 20px #e61f00, 0 0 25px #e61f00;
    filter: brightness(130%) contrast(130%);
}

#play-again-button {
    background: none;
    border: none;
    display: none;
    margin: 0 auto;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: clamp(1.3em, 3.3vw, 2.5em);
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
}


.cpu-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    margin-right: -25vw;
}

.cpu-fist, .cpu-rock {
    width: 60vw;
    height: auto;
    margin-bottom: -43vh;
    padding-left: 9vw;
}

.cpu-paper, .cpu-scissors {
    width: 60vw;
    height: auto;
    margin-bottom: -43vh;
}

.cpu-fist-intro {
    animation-name: cpu-fist-intro;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform-origin: 100% 50%;
}

.cpu-fist-float {
    animation-duration: 8s;
    animation-name: cpu-float;
    animation-delay: .2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform-origin: 100% 50%;
}

@keyframes cpu-float {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(-.1deg)
    }
    40% {
        transform: rotate(-.4deg)
    }
    65% {
        transform: rotate(-.3deg)
    }
    85% {
        transform: rotate(-.15eg)
    }
    100% {
        transform: rotate(-1deg)
    }
}

@keyframes cpu-fist-intro  {
    0%  {transform: rotate(190deg);}
    50% {transform: rotate(0deg);}
    53% {transform: rotate(.2deg);}
    56% {transform: rotate(0deg);}
    59% {transform: rotate(.1deg);}
    62% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

.shake-cpu-fist {
    animation-name: shake-cpu-fist;
    animation-iteration-count: 1;
    animation-duration: 2.3s;
    transform-origin: 100% 50%;
}

@keyframes shake-cpu-fist {
    0%  {transform: rotate(0deg);}
    12% {transform: rotate(1deg);}
    17% {transform: rotate(-9deg);}
    24% {transform: rotate(-9deg);}
    39% {transform: rotate(5deg);}
    44% {transform: rotate(-9deg);}
    51% {transform: rotate(-9deg);}
    66% {transform: rotate(6deg);}
    71% {transform: rotate(-9deg);}
    81% {transform: rotate(-9deg);}
    99% {opacity: 1;
         height: auto;}
    100% {transform: rotate(120deg);
          opacity: 0;
          height: 0;}
}


.cpu-movement {
    animation-delay: 2.1s;
    animation-duration: 3.1s;
    animation-name: cpu-gesture;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform-origin: 100% 50%;
    animation-timing-function: ease-in-out;
}

@keyframes cpu-gesture {
    0%  {transform: rotate(120deg);}
    15% {transform: rotate(0deg)}
    17% {transform: rotate(.1deg)}
    19% {transform: rotate(0deg)}
    21% {transform: rotate(.1deg)}
    32% {transform: rotate(0deg)}
    50% {transform: rotate(.1deg)}
    75% {transform: rotate(0deg)}
    99% {opacity: 1;
        height: auto;}
    100%{transform: rotate(200deg);
         opacity: 0;
         height: 0;
    }
}

.bottom-bar {
    background-color: black;
    color: red;
    width: 100vw;
    max-height: 18vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#health-container {
    flex: 1;
    width: 100vw;
    max-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 10px;
}

#health-title {
    flex: 1;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: clamp(1em, 5vw, 3em);
    max-width: 200px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.user-health-container {
    flex: 2;
    display: flex;
    justify-content: right;
    padding-right: 1vw;
    text-align: center;
}

.cpu-health-container {
    flex: 2;
    display: flex;
    justify-content: left;
    padding-left: 1vw;
}

#cpu-health {
    transform: rotateY(180deg);
}

progress[value] {
    width: 95%;
    height: 1.5vh;
    -webkit-appearance: none; 
    appearance: none;
}

progress::-webkit-progress-value {
    background: #ff1818;
    border: 1px solid rgb(255, 225, 225);
    border-radius: 6px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e61f00, 0 0 20px #e61f00, 0 0 25px #e61f00;
  }

progress::-webkit-progress-bar {
    background: rgb(255, 225, 225);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
  }


#player-names {
    flex: 1;
    display: flex;
    max-height: 30px;
    margin: -1.5vh 0 -1.5vh 0;
    font-family: 'neondesmonregular', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: clamp(.5em, 1.2em, 2em);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6;
}

#user-name {
    flex: 1;
    text-align: right;
    margin-right: 10%;
}

#cpu-name {
    flex: 1;
}




@media (min-width: 1250px){
    .top-bar {
        height: auto;
        max-height: 17vh;
    }
}

