/* Document generally reads from top to bottom of page layout, left to right for the three main containers*/

@font-face {
    font-family: 'neondesmonregular';
    src: url('fonts/neon_desmon-webfont.woff2') format('woff2'),
         url('fonts/neon_desmon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

body {
    background-color: rgb(52, 0, 0);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

.text {
    color: red;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.top-bar {
    background-color: black;
    width: 100vw;
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.title {
    font-family: neon, Arial, sans-serif;
    font-size: 3.3em;
    text-align: center;
    flex: 1;
    padding: 10px 10px 0px 10px;
    border: 4px solid #28D7FE;
    border-radius: 10px;
    box-shadow: 0 0 .33vw #1041FF, 0 0 1vw #1041FF, 0 0 3.33vw #1041FF, 0 0 3.33vw #1041FF, 0 0 .133vw #8BFDFE, .166vw .166vw .033vw #147280;
    filter: brightness(130%);
}

.rock-title {
    text-shadow: 0 0 .33vw #FA1C16, 0 0 1vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 .133vw #FED128, .166vw .166vw .033vw #806914;
    color: #FED128;
}

.paper-title {
    text-shadow: 0 0 .33vw #FA1C16, 0 0 1vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 .133vw #FED128, .166vw .166vw .033vw #806914;
    color: #FED128;
   /* color: #28D7FE; 
    text-shadow: 0 0 .33vw #1041FF, 0 0 1vw #1041FF, 0 0 3.33vw #1041FF, 0 0 3.33vw #1041FF, 0 0 .133vw #8BFDFE, .166vw .166vw .033vw #147280;
    filter: brightness(130%); */
}

.scissors-title {
    text-shadow: 0 0 .33vw #FA1C16, 0 0 1vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 3.33vw #FA1C16, 0 0 .133vw #FED128, .166vw .166vw .033vw #806914;
    color: #FED128;
    /* text-shadow: 0 0 .33vw #950606, 0 0 1vw #a50101, 0 0 3.33vw #900606, 0 0 3.33vw #6a0808, 0 0 .133vw #fe8b8b, .166vw .166vw .033vw #801414;
    color: #FF3131;
    filter: brightness(130%); */
}

#health-container {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: auto;
    flex: 1;
    overflow: hidden;
}

.user-health-container {
    flex: 1;
    display: flex;
    justify-content: left;
    align-self: flex-end;
    margin-left: -3%;
}

.cpu-health-container {
    flex: 1;
    display: flex;
    justify-content: right;
    align-self: flex-end;
    margin-right: -3%;
}

#cpu-health {
    transform: rotateY(180deg);
}

progress[value] {
    width: 50vw;
    -webkit-appearance: none; 
    appearance: none;
    mix-blend-mode: hard-light;
}

progress::-webkit-progress-value {
    background: rgb(211, 32, 32);
    border: 2px solid rgb(255, 225, 225);
    border-radius: 2px;
  }

progress::-webkit-progress-bar {
    background: rgb(0, 0, 0);
  }

.canvas {
    overflow: hidden;
    background-color: black;
    mix-blend-mode: hard-light;
    height: auto;
    flex: 5;
    flex-shrink: 1;
    position: relative;
    background-image: url("images/tabletop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.user-container { 
    flex: 2;
}

.user-fist {
    position: absolute;
    bottom: 25%;
    left: -20%;
    width: 50%;
    height: auto;
}

.user-rock {
    position: absolute;
    bottom: 25%;
    left: -20%;
    width: 50%;
    height: auto;
}

.user-paper {
    position: absolute;
    bottom: 30%;
    left: -4%;
    width: 50%;
    height: auto;
}

.user-scissors {
    position: absolute;
    bottom: 23%;
    left: -3%;
    width: 50%;
    height: auto;
}

.user-fist-intro {
    animation-name: user-fist-intro;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;
}

.user-fist-float {
    animation-duration: 8s;
    animation-name: float;
    animation-delay: .2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;}

@keyframes user-fist-intro  {
    0%  {transform: rotate(-240deg);}
    50% {transform: rotate(0deg);}
    53% {transform: rotate(-.2deg);}
    56% {transform: rotate(0deg);}
    59% {transform: rotate(-.1deg);}
    62% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

.shake-canvas{
    position: initial;
    will-change: transform;
    animation-delay: .05s;
    animation-duration: 2.3s;
    animation-name: shake-canvas;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes shake-canvas {
    0% {transform: translateY(0px);}
    17% {transform: translateY(0px);}
    18% {transform: translateY(3px);}
    20% {transform: translateY(0px);}
    44% {transform: translateY(0px);}
    45% {transform: translateY(3px);}
    47% {transform: translateY(0px);}
    71% {transform: translateY(0px);}
    72% {transform: translateY(4px);}
    74% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}

.user-movement {
    animation-delay: 2s;
    animation-duration: 3.1s;
    animation-name: user-gesture;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform-origin: -100% 100%;
    animation-timing-function: ease-in-out;
}

@keyframes user-gesture {
    0%  {transform: rotate(-90deg);}
    15% {transform: rotate(0deg)}
    17% {transform: rotate(-.1deg)}
    19% {transform: rotate(0deg)}
    21% {transform: rotate(-.1deg)}
    32% {transform: rotate(0deg)}
    50% {transform: rotate(.1deg)}
    75% {transform: rotate(0deg)}
    99% {opacity: 1;
        height: auto;}
    100%{transform: rotate(-200deg);
         opacity: 0;
         height: 0;
    }
}

.shake-user-fist {
    animation-name: shake-user-fist;
    animation-iteration-count: 1;
    animation-duration: 2.3s;
}

@keyframes shake-user-fist {
    0%  {transform: rotate(0deg);}
    12% {transform: rotate(-1deg)}
    17% {transform: rotate(5deg);}
    24% {transform: rotate(5deg);}
    39% {transform: rotate(-5deg);}
    44% {transform: rotate(5deg);}
    51% {transform: rotate(5deg);}
    66% {transform: rotate(-6deg);}
    71% {transform: rotate(5deg);}
    81% {transform: rotate(5deg);}
    99% {opacity: 1;
         height: auto;}
    100% {transform: rotate(-80deg);
          opacity: 0;
          height: 0;}
}

@keyframes float {
    0% {
        transform: rotate(0deg)
    }
    20% {
        transform: rotate(.3deg)
    }
    40% {
        transform: rotate(.1deg)
    }
    60% {
        transform: rotate(.3deg)
    }
    80% {
        transform: rotate(.2deg)
    }
    100% {
        transform: rotate(.1deg)
    }
}

#button-container {
    flex: 1;
    display: flex;
    margin-top: -12%;
    margin-right: -8%;
}

.appear {
    animation: appear .5s ease-in-out 0s 1 forwards;
}

@keyframes appear {
    from{
        opacity: 0;}
    to{
        opacity: 1;}
}

disappear {
    animation: disappear .25s ease-in-out 0s 1 forwards;
}

@keyframes disappear {
    from{opacity: 1;}
    to{height:  0%;
       opacity: 0;}
}
    
.rock-button {
    rotate: 0deg;
    transform-origin: 100%;
}

.paper-button {
    margin-left: -33.33%;
    transform-origin: 100%;
    rotate: 120deg;
}

.scissors-button {
    margin-left: -33.33%;
    transform-origin: 100%;
    rotate: 240deg;
}

.selection-button {
    background-color: transparent;
    border: none;
    animation: rotation 35s infinite linear;
}

@keyframes rotation {
    0% {transform: rotate(-360deg)}
}

.selection-button-image {
    width: 7vw;
    height: auto;
    filter: invert(100%) opacity(65%) drop-shadow(1px 1px 1px rgb(255, 255, 255));
}

.selection-button-image:hover {
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

.cpu-container {
    flex: 2;
}

.cpu-fist {
    position: absolute;
    right: -14%;
    bottom: 25%;
    width: 50%;
    height: auto;
    translate: 0% 15%;
}

.cpu-rock {
    position: absolute;
    right: -14%;
    bottom: 25%;
    width: 50%;
    height: auto;
    translate: 0% 15%;
}

.cpu-paper {
    position: absolute;
    right: -10%;
    bottom: 25%;
    width: 50%;
    height: auto;
}

.cpu-scissors {
    position: absolute;
    right: -14%;
    bottom: 25%;
    width: 50%;
    height: auto;
}

.cpu-fist-intro {
    animation-name: cpu-fist-intro;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform-origin: 100% 80%;
}

.cpu-fist-float {
    animation-duration: 8s;
    animation-name: cpu-float;
    animation-delay: .2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform-origin: 100% 80%;
}

@keyframes cpu-float {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(-.1deg)
    }
    40% {
        transform: rotate(-.4deg)
    }
    65% {
        transform: rotate(-.3deg)
    }
    85% {
        transform: rotate(-.15eg)
    }
    100% {
        transform: rotate(-1deg)
    }
}

@keyframes cpu-fist-intro  {
    0%  {transform: rotate(190deg);}
    50% {transform: rotate(0deg);}
    53% {transform: rotate(.2deg);}
    56% {transform: rotate(0deg);}
    59% {transform: rotate(.1deg);}
    62% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

.shake-cpu-fist {
    animation-name: shake-cpu-fist;
    animation-iteration-count: 1;
    animation-duration: 2.3s;
    transform-origin: 100% 80%;
}

@keyframes shake-cpu-fist {
    0%  {transform: rotate(0deg);}
    12% {transform: rotate(1deg)}
    17% {transform: rotate(-5deg) translateY(15%);}
    24% {transform: rotate(-5deg) translateY(15%);}
    39% {transform: rotate(0deg);}
    44% {transform: rotate(-5deg) translateY(15%);}
    51% {transform: rotate(-5deg) translateY(15%);}
    66% {transform: rotate(0deg);}
    71% {transform: rotate(-5deg) translateY(15%);}
    81% {transform: rotate(-5deg) translateY(15%);}
    91% {opacity: 1;
        height: auto;}
    92% {transform: rotate(100deg);
        opacity: 0;
        height: 0;
                }
    100% {opacity: 0;
          height: 0;} 
}

.cpu-movement {
    animation-delay: 2s;
    animation-duration: 3.1s;
    animation-name: cpu-gesture;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform-origin: 100% 80%;
    animation-timing-function: ease-in-out;
}

@keyframes cpu-gesture {
    0%  {transform: rotate(120deg);}
    15% {transform: rotate(0deg)}
    17% {transform: rotate(.1deg)}
    19% {transform: rotate(0deg)}
    21% {transform: rotate(.1deg)}
    32% {transform: rotate(0deg)}
    50% {transform: rotate(.1deg)}
    75% {transform: rotate(0deg)}
    99% {opacity: 1;
        height: auto;}
    100%{transform: rotate(150deg);
         opacity: 0;
         height: 0;
    }
}

.bottom-bar {
    background-color: black;
    color: red;
    width: 100vw;
    max-height: 18vh;
    flex: 1;
    flex-shrink: 0;
}

@media (min-width: 1250px){
    .cpu-fist {
        bottom: 18%;
    }

    .top-bar {
        height: auto;
        max-height: 17vh;
    }
}

