body {
    background-color: black;
}

.text {
    color: red;
}

.top-bar{
    background-color: black;
    height: 20vh;
    width: 100%;
}

.left-hand-container {
    overflow: hidden;
    background-color: black;
    height: 60vh;
    background-image: url(images/tabletop.jpg);
    background-position-y: -70%;
}

.bottom-bar {
    background-color: black;
    color: red;
    height: 20vh;
    width: 100%;
}

.vertical-shake{
    animation-duration: 2.5s;
    animation-name: shaking;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes shaking {
    0% {transform: translateY(0px);}
    17% {transform: translateY(0px);}
    18% {transform: translateY(4px);}
    20% {transform: translateY(0px);}
    44% {transform: translateY(0px);}
    45% {transform: translateY(4px);}
    47% {transform: translateY(0px);}
    71% {transform: translateY(0px);}
    72% {transform: translateY(4px);}
    74% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}



.left-paper {
    width: 700px;
    margin-left: 120px;
    overflow: hidden;
}

.left-movement {
    animation-delay: 1.9s;
    rotate: 4deg;
    animation-duration: 3.5s;
    animation-name: gesture;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform-origin: -100% 0%;
    animation-timing-function: ease-in-out;
}

@keyframes gesture {
    0%  {transform: rotate(-240deg)}
    20% {transform: rotate(0deg);}
    23% {transform: rotate(-.2deg)}
    26% {transform: rotate(0deg)}
    29% {transform: rotate(-.1deg)}
    32% {transform: rotate(0deg)}
    50% {transform: rotate(.1deg)}
    80% {transform: rotate(0deg)}
    99% {opacity: 1;
        height: auto;
        width: 700px;}
    100%{transform: rotate(-240deg);
         opacity: 0;
         height: 0;
         width: 0;
    }
}


.left-fist {
    width: 700px;
    margin-left: -200px;
    margin-top: -40px;
    height: auto;
    rotate: 4deg;
    overflow: hidden;   
    animation-duration: 2.5s;
    animation-name: float;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;
}

.shake-fist{
    animation-name: shakeFist;
    animation-iteration-count: 1;
}


@keyframes float {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(.5deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes shakeFist {
    0%  {transform: rotate(0deg);}
    12% {transform: rotate(-1deg)}
    17% {transform: rotate(5deg);}
    24% {transform: rotate(5deg);}
    39% {transform: rotate(-5deg);}
    44% {transform: rotate(5deg);}
    51% {transform: rotate(5deg);}
    66% {transform: rotate(-6deg);}
    71% {transform: rotate(5deg);}
    81% {transform: rotate(5deg);}
    95% {transform: rotate(-30deg);
        opacity: 1;
        height: auto;
        width: 700px;}
    96% {
        opacity: 0;
        height: 0;
        width: 0;}
    100% {
            opacity: 0;
            height: 0;
            width: 0;}
}

