body {
    background-color: black;
}

.text {
    color: red;
}

.flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.top-bar{
    width: 100vw;
    background-color: black;
    flex: 1;
    flex-shrink: 0;
}

.left-hand-container {
    overflow: clip;
    max-height: 60vh;
    background-color: black;
    background-image: url(images/tabletop.jpg);
    background-position-y: 80%;
    mix-blend-mode: hard-light;
    background-size: 100% auto;
    background-repeat: no-repeat;
    flex: 3;
    flex-shrink: 5;
} 

.bottom-bar {
    background-color: black;
    color: red;
    width: 100vw;
    flex: 1;
    flex-shrink: 0;
}

.vertical-shake{
    animation-duration: 2.5s;
    animation-name: shaking;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes shaking {
    0% {transform: translateY(0px);}
    17% {transform: translateY(0px);}
    18% {transform: translateY(4px);}
    20% {transform: translateY(0px);}
    44% {transform: translateY(0px);}
    45% {transform: translateY(4px);}
    47% {transform: translateY(0px);}
    71% {transform: translateY(0px);}
    72% {transform: translateY(4px);}
    74% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}

.left-fist {
    position: absolute;
    bottom: 30vh;
    width: 40%;
    rotate: 2deg;
    overflow: clip;
    animation-duration: 2.4s;
    animation-name: float;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;
}

.left-paper-container {
    position: absolute;
    width: 63%;
    left: -1%;
    bottom: 54%;
    rotate: -4deg;
}

.left-rock-container {
    position: absolute;
    width: 63%;
    left: -5%;
    bottom: 50%;
    rotate: -4deg;
}

.left-movement {
    animation-delay: 2s;
    rotate: 6deg;
    animation-duration: 3.3s;
    animation-name: gesture;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform-origin: -100% 0%;
    animation-timing-function: ease-in-out;
}

@keyframes gesture {
    0%  {transform: rotate(-240deg);}
    20% {transform: rotate(0deg)}
    23% {transform: rotate(-.2deg)}
    26% {transform: rotate(0deg)}
    29% {transform: rotate(-.1deg)}
    32% {transform: rotate(0deg)}
    50% {transform: rotate(.1deg)}
    75% {transform: rotate(0deg)}
    99% {opacity: 1;
        height: auto;}
    100%{transform: rotate(-200deg);
         opacity: 0;
         height: 0;
    }
}

.shake-fist {
    animation-name: shakeFist;
    animation-iteration-count: 1;
}


@keyframes float {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(.5deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes shakeFist {
    0%  {transform: rotate(0deg);}
    12% {transform: rotate(-1deg)}
    17% {transform: rotate(5deg);}
    24% {transform: rotate(5deg);}
    39% {transform: rotate(-5deg);}
    44% {transform: rotate(5deg);}
    51% {transform: rotate(5deg);}
    66% {transform: rotate(-6deg);}
    71% {transform: rotate(5deg);}
    81% {transform: rotate(5deg);}
    99% {
        opacity: 1;
        height: auto;
    }

    100% {
        transform: rotate(-30deg);
        opacity: 0;
        height: 0;}
}

