body {
    background-color: black;
}

.text {
    color: red;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.top-bar{
    background-color: black;
    color: red;
    width: 100vw;
    height: 20vh;
    flex: 1;
    flex-shrink: 0;
}

.canvas {
    overflow: hidden;
    background-color: black;
    mix-blend-mode: hard-light;
    height: auto;
    flex: 3.2;
    flex-shrink: 1;
    position: relative;
    background-image: url("images/tabletop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

.user-container { 
    position: relative;
    flex: 1;
}

.cpu-container {
    background-color: blue;
    position: relative;
    flex: 1;
    opacity: 20%;
}

.user-fist {
    position: absolute;
    bottom: 25%;
    left: -15%;
    max-width: 38vw;
    min-width: 15vw;
    height: auto;
}

.user-rock {
    position: absolute;
    bottom: 25%;
    left: -15%;
    max-width: 38vw;
    min-width: 15vw;
    height: auto;
}

.user-scissors {
    position: absolute;
    bottom: 30%;
    left: -3%;
    max-width: 40vw;
    min-width: 15vw;
    height: auto;
}

.user-paper {
    position: absolute;
    bottom: 30%;
    left: -3%;
    max-width: 40vw;
    min-width: 15vw;
    height: auto;
}

.user-fist-intro {
    animation-name: user-fist-intro;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;
}

.user-fist-float {
    animation-duration: 8s;
    animation-name: float;
    animation-delay: .2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform-origin: -100% 0%;}

@keyframes user-fist-intro  {
    0%  {transform: rotate(-240deg);}
    50% {transform: rotate(0deg);}
    53% {transform: rotate(-.2deg);}
    56% {transform: rotate(0deg);}
    59% {transform: rotate(-.1deg);}
    62% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

.bottom-bar {
    background-color: black;
    color: red;
    width: 100vw;
    height: 20vh;
    flex: 1;
    flex-shrink: 0;

}

.shake-canvas{
    position: initial;
    animation-duration: 2.3s;
    animation-name: shake-canvas;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes shake-canvas {
    0% {transform: translateY(0px);}
    17% {transform: translateY(0px);}
    18% {transform: translateY(4px);}
    20% {transform: translateY(0px);}
    44% {transform: translateY(0px);}
    45% {transform: translateY(4px);}
    47% {transform: translateY(0px);}
    71% {transform: translateY(0px);}
    72% {transform: translateY(4px);}
    74% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}

.user-movement {
    animation-delay: 2s;
    animation-duration: 3.1s;
    animation-name: gesture;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform-origin: -100% 0%;
    animation-timing-function: ease-in-out;
}

@keyframes gesture {
    0%  {transform: rotate(-90deg);}
    15% {transform: rotate(0deg)}
    17% {transform: rotate(-.1deg)}
    19% {transform: rotate(0deg)}
    21% {transform: rotate(-.1deg)}
    32% {transform: rotate(0deg)}
    50% {transform: rotate(.1deg)}
    75% {transform: rotate(0deg)}
    99% {opacity: 1;
        height: auto;}
    100%{transform: rotate(-200deg);
         opacity: 0;
         height: 0;
    }
}

.shake-fist {
    animation-name: shakeFist;
    animation-iteration-count: 1;
    animation-duration: 2.3s;
}

@keyframes shakeFist {
    0%  {transform: rotate(0deg);}
    12% {transform: rotate(-1deg)}
    17% {transform: rotate(5deg);}
    24% {transform: rotate(5deg);}
    39% {transform: rotate(-5deg);}
    44% {transform: rotate(5deg);}
    51% {transform: rotate(5deg);}
    66% {transform: rotate(-6deg);}
    71% {transform: rotate(5deg);}
    81% {transform: rotate(5deg);}
    99% {opacity: 1;
         height: auto;}
    100% {transform: rotate(-80deg);
          opacity: 0;
          height: 0;}

}

@keyframes float {
    0% {
        transform: rotate(0deg)
    }
    20% {
        transform: rotate(.3deg)
    }
    40% {
        transform: rotate(.1deg)
    }
    60% {
        transform: rotate(.4deg)
    }
    80% {
        transform: rotate(.2deg)
    }
    100% {
        transform: rotate(.1deg)
    }
}

  


